<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->


<root>
    <server>
        <name>jtaqxh</name>
        <sql_dir>C:\\Users\\chen\\Documents\\GitHub\\analyze\\web\\WEB-INF\\sql</sql_dir>
        <analyze>sqlRunAnalyze</analyze>
        <analyze>serviceRunAnalyze</analyze>
        <analyze>loginAnalyze</analyze>
        <analyze>requestAnalyze</analyze>
        <analyze>warnLogAnalyze</analyze>
        <analyze>logStratAnalyze</analyze>
        <analyze>taskAnalyze</analyze>
        <analyze>errorLogAnalyze</analyze>
    </server>
    <server>
        <name>jtgzfw</name>
        <sql_dir>C:\\Users\\chen\\Documents\\GitHub\\analyze\\web\\WEB-INF\\sql</sql_dir>
        <analyze>sqlRunAnalyze</analyze>
        <analyze>serviceRunAnalyze</analyze>
        <analyze>loginAnalyze</analyze>
        <analyze>requestAnalyze</analyze>
        <analyze>warnLogAnalyze</analyze>
        <analyze>logStratAnalyze</analyze>
        <analyze>taskAnalyze</analyze>
        <analyze>errorLogAnalyze</analyze>
    </server>
</root>
